
/* ----------------------- BOXES ------------------------- */

.box {margin-bottom:20px;}

.box-head {color:#75b802; text-transform:uppercase; font-family: 'Open Sans', sans-serif; font-size:24px; line-height:24px; font-weight:700; padding:0 0 17px 0px; margin:-5px 0 10px; border-bottom:1px solid #e5e3e3;}
.box-head a { text-decoration:none; color:#75b802;  font-size:24px; line-height:24px; font-weight:700;}
.box-head a:hover { color:#333333;}

.box-body {}

.box-body ul {margin:0; padding:0; list-style:none;}
.box-body ul li { border-top:1px solid #e5e3e3; padding:10px 0 10px 9px;}
.box-body ul li:first-child{ border:none; padding:10px 0 10px 9px;}
.box-body ul li a {
	font-size:14px;
	line-height:18px;
	color:#333333;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-weight:700;
	text-decoration:none;
	background:url(../images/cat-marker.png) no-repeat 0 3px;
	padding:0 0 0 23px;
}
.box-body ul li a:hover{ background:url(../images/cat-marker1.png) no-repeat 0 3px;}
.box-body ul li.category-products a{ font-size:12px; font-weight:600;}

.box-body ul li.category-products a:hover,
.box-body ul li .category-subs-parent-selected,
.box-body ul li .category-subs-selected,
.box-body ul li a:hover {color:#73b502;}

.box-body ol {margin:0; padding:0; list-style:none;}
.box-body ol li {border-top:1px solid #e5e3e3; padding:10px 0 10px 9px;}
.box-body ol li:first-child{ border:none;}
.box-body ol li a {
	font-size:14px;
	line-height:18px;
	color:#333333;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-weight:600;
	text-decoration:none;
	background:url(../images/cat-marker.png) no-repeat 0 3px;
	padding:0 0 0 23px;
}
.box-body ol li a:hover {color:#73b502;}


/* ----------------------- LISTING BOXES ------------------------- */


#categories { margin-top:-14px;}
#categories .box-head{
	display:none;
}


#moreinformation {}


#information {}


#bestsellers {}
#screenshot{
	position:absolute;
	display:none;
	color:#fff;
	background:#FFFFFF;
	border:1px solid #cacaca;
	z-index:9999;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
#screenshot img{
	width:100px;
	height:146px;

}

#ezpages {}


#orderhistory {}
#orderhistory .box-body img {background:#FFFFFF; padding:2px; border:1px solid #AAAAAA; vertical-align:middle; margin:2px 0px 2px 0px;}
#orderhistory .no-bg{ background:none; padding:0;}
#orderhistory a{ display:inline; background:none; padding:0;}


/* ----------------------- BANNER BOXES ------------------------- */

#bannerbox {}

#bannerbox2 {}

#bannerboxall {}



/* ----------------------- PRODUCT BOXES ------------------------- */

#featured a img, 
#whatsnew a img, 
#specials a img, 
#reviews a img, 
#manufacturerinfo img, 
#productnotifications img {margin:0 0 8px;}

#reviews img {margin:5px 0 0;}



#featured {}
#featured .box-body{ text-align:center;}
#featured .box-body .sb-info{}
#featured .box-body .name{}
#featured .box-body .name:hover{}
#featured .box-body .normalprice {text-decoration:line-through; color:#d9d9d9; font-weight:700; font-family: 'Open Sans', sans-serif; font-size:18px; line-height:24px;}
#featured .box-body .productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#75b802; font-weight:700; font-family: 'Open Sans', sans-serif; font-size:18px; line-height:24px;}


#whatsnew {}
#whatsnew .box-body{ text-align:center;}
#whatsnew .box-body .sb-info{}
#whatsnew .box-body .name{}
#whatsnew .box-body .name:hover{}
#whatsnew .box-body .normalprice {text-decoration:line-through; color:#d9d9d9; font-weight:700; font-family: 'Open Sans', sans-serif; font-size:18px; line-height:24px;}
#whatsnew .box-body .productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#75b802; font-weight:700; font-family: 'Open Sans', sans-serif; font-size:18px; line-height:24px;}


#specials {}
#specials .box-body{ text-align:center;}
#specials .box-body .desc{}
#specials .box-body .name{}
#specials .box-body .name:hover{}
#specials .box-body .normalprice {text-decoration:line-through; color:#d9d9d9; font-weight:700; font-family: 'Open Sans', sans-serif; font-size:18px; line-height:24px;}
#specials .box-body .productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#75b802; font-weight:700; font-family: 'Open Sans', sans-serif; font-size:18px; line-height:24px;}


#reviews {}
#reviews .box-body{ text-align:center;}

#manufacturerinfo {}


#productnotifications {}
#productnotifications .box-body{ text-align:center;}




/* ----------------------- FORM BOXES ------------------------- */

#search {}
#search .box-body{
	overflow:hidden;
	width:100%;
	padding:10px;
}
#search .advsearch{
	color:#464646;
	font-size:13px;
	line-height:24px;
	text-decoration:underline;
	text-transform:lowercase;
	font-family: 'Droid Sans', sans-serif;
	float:left;
	display:inline-block;
}
#search .advsearch:hover{ text-decoration:none;}
#search input{ border:solid 0px; padding:0; background:url(../images/search.gif) no-repeat 0 0;  width:68px !important; height:34px !important; vertical-align:middle; float:left; display:block; text-indent:-1000px; cursor: pointer;}
#search .input1{
	border:solid 1px #e8e8e7;
	margin-right:2px;
	width:113px!important;
	cursor:text;
	padding: 2px 2px 2px 2px; 
	float:left;
	margin-bottom:11px;
	background:#fff;
	text-indent:0;
	height:28px!important;
}


#manufacturers {}
#manufacturers .box-body {text-align:center;}


#currencies {}
#currencies .box-body {text-align:center;}
#currencies select{ width:90%;}


#recordcompanies {}
#recordcompanies .box-body {text-align:center;}


#musicgenres {}
#musicgenres .box-body {text-align:center;}



/* ----------------------- TEXT BOXES ------------------------- */

#languages {}
#languages .box-body {text-align:center;}


#whosonline {}
#whosonline .box-body {text-align:center;}


#documentcategories {}


#shoppingcart {}
#shoppingcart .cart_line {}
#shoppingcart #cartBoxEmpty {text-align:center;}
#shoppingcart li a{ padding:0; background:none;}
